<div class="header">
    <h1>Top-rated WordPress Hosting Support</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem similique itaque reiciendis, explicabo porro
        iusto voluptatibus doloremque totam </h2>
        <div class="container">
            <div class="box">
                <img src="https://i.postimg.cc/CLbr72bd/time.png" width="100" height="100">
                <h3>Available 24/7</h3>
            </div>
            <div class="box">
                <img src="https://i.postimg.cc/TY4WwPz8/carrito.png" width="100" height="100">
                <h3>WorPress Expertise</h3>
            </div>
            <div class="box">
                <img src="https://i.postimg.cc/jqwVrZY4/mss.png" width="100" height="100">
                <h3>Fast Response Time</h3>
            </div>
            <div class="box">
                <img src="https://i.postimg.cc/L5jXnSwz/web.png" width="100" height="100">
                <h3>Free Installation</h3>
            </div>
        </div>
</div>
<div class="body">
    <div class="header-tarjetas">
        <h1>Awesome Tools for WordPress Webmasters</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum provident, itaque repudiandae</h2>
    </div>
    <app-pagina-dos-tarjetas></app-pagina-dos-tarjetas>
</div>