<div class="grid">
    <div class="elemento">
        <p class="titulo">Free SSL Certificates</p>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor cum, dicta vero, aut in laudantium adipisci
            nemo corrupti ipsam deserunt error quos labore laborum perferendis hic saepe nostrum. Quo, impedit.</P>
        <a href="./" class="boton">FIND OUT MORE</a>
    </div>
    <div class="elemento">
        <p class="titulo">Daily Backups</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit magnam deserunt cum adipisci eos unde
            voluptate in sed corporis, esse at similique recusandae nihil aliquam eveniet aperiam doloremque facilis
            vero.</p>
        <a href="./" class="boton">FIND OUT MORE</a>
    </div>
    <div class="elemento">
        <p class="titulo">Email Service</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt odio nulla obcaecati nobis, ab fuga
            voluptates? Vitae vel, nisi quos iste alias sequi sint, ad minima praesentium mollitia laboriosam?</p>
        <a href="./" class="boton">FIND OUT MORE</a>
    </div>
    <div class="elemento">
        <p class="titulo">Staging Tool</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore optio dignissimos esse maiores. Facilis
            repudiandae molestias recusandae. Reprehenderit iste nulla qui quaerat quasi adipisci doloremque nemo
            architecto, fugit, dolorum esse!</p>
        <a href="./" class="boton">FIND OUT MORE</a>
    </div>
    <div class="elemento">
        <p class="titulo">Dev Toolkit</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum aperiam earum praesentium modi, accusantium,
            veniam ab ipsa quisquam cum architecto iure, sunt pariatur quam at dicta saepe dolorum atque laborum.
        </p>
        <a href="./" class="boton">FIND OUT MORE</a>
    </div>
    <div class="elemento">
        <p class="titulo">Free CDN</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit fugit ut tempora modi esse, eum eveniet fuga
            molestiae. In quisquam itaque facere dolores voluptatibus velit reiciendis praesentium, dolore a repellat!
        </p>
        <a href="./" class="boton">FIND OUT MORE</a>
    </div>
</div>