/* Restablecimiento global de márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegurar que html y body ocupen el 100% del alto y ancho */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scrollbars si hay contenido desbordado */
}

/* Contenedor principal con Flexbox */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Header con tamaño fijo y Flexbox */
.header {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Alinea verticalmente los elementos */
  height: 100px; /* Ajusta según sea necesario */
  padding: 0 16px; /* Espaciado horizontal interno */
  background-color: rgb(24, 23, 23);
 
}

/* Estilos para el texto dentro del header */

/* Content ocupa el resto del espacio disponible */
.content {
  flex: 1; /* Ocupa el espacio restante */
  padding: 16px; /* Espaciado interno */
  overflow: auto; /* Manejo del desbordamiento */
  background: linear-gradient(to bottom, rgb(10, 84, 10), rgb(73, 185, 73));
}

.header-left{
   font-family: 'Gill Sans';
   color: white;
}

.header-right {
  font-family: 'Franklin Gothic Medium';
  color: white;
}


